@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>REST Workshop</title>
</head>
<body>
    <h1>Hello!</h1>
    <p>This is the sample API we'll be using in the Real World REST workshop.</p>
    <h2>What's Here?</h2>
    <ul>
        <li>The API itself is at /api/</li>
        <li>
            You can browse the API endpoints using the built-in API explorer tool:
            <ul>
                @foreach (var uri in new[] {
                    "/profiles", "/profiles/superman", "/profiles/superman/friends", "/profiles/superman/photos"
                }) {
                    <li>
                        /api@(uri) &bull; <a href="/explorer#/api@(uri)">explore</a> &bull; <a href="/api@(uri)">browse</a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</body>
</html>